/* NavBAr */
.nav {
  @apply flex justify-between items-center py-4 px-6 bg-white;
}

.nav-logo {
  @apply text-2xl font-bold text-[#3C4242];
}

/* Nav Desktop */

.nav-links-desktop {
  @apply xl:flex hidden  gap-8 text-[#807D7E];
}
.nav-links-desktop a:hover {
  @apply text-[#3C4242] transition duration-500;
}
.nav-search {
  @apply flex relative items-center;
}
.nav-search-input {
  @apply xl:w-[250px] w-[150px] mr-20;
}
.nav-search-icon {
  @apply absolute  xl:left-55 left-30 text-[#807D7E];
}
.nav-icons {
  @apply xl:flex hidden  gap-6 text-gray-600 text-2xl;
}
.nav-icons a:hover {
  @apply text-[#3C4242] transition duration-500;
}
.nav-search-arabic {
  @apply absolute left-3 text-[#807D7E];
}

/* Nav Mobile */
.nav-mobile {
  @apply flex xl:hidden relative;
}
.nav-mobile-icon {
  @apply text-[#3C4242] text-lg absolute left-70  -top-[8px];
}
.nav-mobile-links {
  @apply flex flex-col gap-4 justify-center items-center bg-black  text-[#807D7E] p-4 ;
}
.nav-mobile-icons {
  @apply flex gap-6 text-[#807D7E] text-2xl mt-8;
}
.nav-mobile-icon-arabic {
  @apply text-[#807D7E] text-lg absolute right-71 -top-[8px];
}
